.hero {
    background-image: url('../images/digimon-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -10;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: fixed;
    bottom: 0;
}

.info p {
    font-size: 1.25rem;
}


.accent {
    color: var(--accent-color);
}

.btn {
    display: flex;
    background: var(--dark-color);
    color: var(--light-color);
    padding: 10px 16px;
    border-radius: 10px;
    font-weight: 500;
    margin-right: 100px;
    width: 150px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    opacity: .95;
    transform: scale(.95);
}
